@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'jefferies';
    src: url('../font/jefferies Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}